<body>
  <div class="back-button">
    <button onclick="window.history.back()">&#8592; Volver</button>
  </div>

  <img src="http://192.168.1.60:3002/assets/FORILogoRedi.png" alt="no" />

  <div class="main-container">
    <div class="filter-container">
      <select [(ngModel)]="campoSeleccionado">
        <option value="nombre" selected>Nombre</option>
        <option value="descrip">Descripción</option>
        <option value="idCategoria">Categoria</option>
        <option value="idTipo">Tipo</option>
        <option value="modelo">Modelo</option>
        <option value="numSerie">Nº Serie</option>
      </select>

      <input
        type="text"
        id="myInput"
        class="input-search"
        [(ngModel)]="this.inputFiltRef"
        placeholder="Buscar por nombre..."
        title="Escribe un nombre"
        (change)="loadArticlesByName()"
      />
      <button class="botonet">Buscar</button>

    </div>

    <div class="filter-cococo">

        <mat-form-field class="mat-form-field">
          <mat-label>Selecciona los campos</mat-label>
          <mat-select multiple [(value)]="seleccionados">
            <mat-option *ngFor="let item of columnas" [value]="item">{{ item }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Botón de exportar a Excel -->
        <button class="action-btn btn-save" (click)="exportExcel()">EXPORTAR EXCEL</button>
    </div>


    <div class="table-wrapper">
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Referencia</th>
              <th>ID Categoría</th>
              <th>ID Tipo</th>
              <th>Nº Serie</th>
              <th>Unidades</th>
              <th>Modelo</th>
              <th>Medida</th>
              <th>Marca</th>
              <th>Detalles</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of arrArticulos">
              <td>
                <a [href]="'http://192.168.1.60:3002' + item.imagen" download>
                  <mat-icon>visibility</mat-icon>
                </a>
              </td>

              <td>{{ item.nombre }}</td>

              <td class="category-column">
                <ng-container *ngFor="let forin of arrCategories">
                  <ng-container *ngIf="item.idCategoria == forin.idCategory">
                    {{ forin.name }}
                  </ng-container>
                </ng-container>
              </td>
              <td class="type-column">
                <ng-container *ngFor="let forin of arrTypes">
                  <ng-container *ngIf="item.idTipo == forin.idType">
                    {{ forin.name }}
                  </ng-container>
                </ng-container>
              </td>
              <td>{{ item.numSerie }}</td>
              <td>
                <h4>{{ item.stock }}</h4>
              </td>
              <td>{{ item.modelo }}</td>

              <td>{{ item.unidadMedida }}</td>

              <td>{{ item.marca }}</td>
              <td>{{ item.detalles }}</td>
              <td class="actions-column">
                <button
                  class="action-btn btn-save"
                  [routerLink]="['/viewMovements', item.id]"
                >
                  Ver Movimientos
                </button>
                <button class="action-btn btn-save">Confirmar Stock</button>
                <button class="action-btn btn-save">Cambiar Proyecto</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
